:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --background-color: #1E1E1E;
    /* font */
    --header-font: 'Barlow Condensed';
    --paragraph-font: 'Nunito';
    /* section */
    --section-gap: 100px 0px;
    /* button style */
    --primary-button--stroke: 2px solid var(--primary-color);
    --primary-button--color: var(--primary-color);
    --secondary-button--color: var(--secondary-color);
    --secondary-button--stroke: 2px solid var(--secondary-color);
    --button--background: transparent;
}

body {
    letter-spacing: 0.3px;
    font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: var(--header-font);
    margin: 0;
    font-weight: 700;
    letter-spacing: 2px;
}

h1 {
    font-size: 58px;
}

h2 {
    font-size: 38px;
}

a,
a:focus-visible {
    outline: 0;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

.btn,
.btn:active,
.btn:focus-visible {
    outline: 0;
    border: none;
}

.primary-button {
    padding: 13px 36px;
    text-transform: uppercase;
    border: var(--primary-button--stroke);
    color: var(--primary-button--color);
}

.primary-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-button--color);
    border: var(--primary-button--stroke);
}

@media(max-width: 767px) {
    .primary-button {
        padding: 7px 16px;
    }
}

.secondary-button {
    padding: 13px 36px;
    text-transform: uppercase;
    border: var(--secondary-button--stroke);
    color: var(--secondary-button--color);
}

.secondary-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-button--color);
    border: var(--secondary-button--stroke);
}

@media(max-width: 767px) {
    .secondary-button {
        padding: 7px 16px;
    }
}


/* navbar section */

.navbar-section {
    padding: 16px 0px;
    position: relative;
    z-index: 2;
}

.navbar-section .navbar-section__row a {
    color: var(--secondary-color);
    text-transform: uppercase;
}

.navbar-section .navbar-section__row a:hover {
    color: var(--secondary-color);
    text-transform: uppercase;
}

.navbar-section .navbar-section__row .navbar-section__menu,
.navbar-section__icons {
    margin: auto 0;
}

.navbar-section .navbar-section__row .navbar-section__menu .navbar-section__menu--lists,
.navbar-section__icons--lists {
    display: flex;
    column-gap: 20px;
}

.navbar-section .navbar-section__row .navbar-section__menu .navbar-section__menu--lists {
    justify-content: center;
}

.navbar-section .navbar-section__row .navbar-section__icons .navbar-section__icons--lists {
    justify-content: end;
}

.navbar-section .navbar-section__row .active a {
    font-weight: 700;
}

.navbar-section .navbar-section__row .navbar-section__logo img {
    max-width: 120px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
}

.hamburger-menu {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: auto 0;
    border-radius: 15px;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.hamburger-menu::before,
.hamburger-menu::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    border-radius: 15px;
    transition: 0.25s ease-in-out;
}

.hamburger-menu::before {
    transform: translateY(-9px);
}

.hamburger-menu::after {
    transform: translateY(9px);
}

.animate-menu {
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}

.animate-menu::before {
    transform: rotate(-45deg);
}

.animate-menu::after {
    transform: rotate(45deg);
}

@media(max-width: 576px) {
    .hamburger {
        top: 23px;
        right: 0px;
        width: 55px;
        height: 40px;
    }
    .navbar-section .hamburger-menu {
        display: grid;
        position: relative;
        top: 18px;
    }
    .navbar-section .navbar-section__row .navbar-section__logo img {
        max-width: 100px;
    }
}

@media (min-width:577px) and (max-width:767px) {
    .hamburger {
        top: 23px;
        right: 70px;
        width: 55px;
        height: 40px;
    }
    .navbar-section .hamburger-menu {
        display: grid;
        position: relative;
        top: 18px;
    }
    .navbar-section .navbar-section__row .navbar-section__logo img {
        max-width: 125px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hamburger {
        top: 23px;
        right: 100px;
        width: 55px;
        height: 40px;
    }
    .navbar-section .hamburger-menu {
        display: grid;
        position: relative;
        top: 18px;
    }
    .navbar-section .navbar-section__row .navbar-section__logo img {
        max-width: 150px;
    }
}

@media(min-width: 992px) and (max-width: 1399px) {
    .navbar-section .hamburger {
        display: none;
    }
    .navbar-section .navbar-section__row .navbar-section__menu,
    .navbar-section__icons {
        display: block !important;
    }
}

@media (min-width: 1400px) {
    .navbar-section .hamburger {
        display: none;
    }
    .navbar-section .navbar-section__row .navbar-section__menu,
    .navbar-section__icons {
        display: block !important;
    }
}


/* Carousel */

.carousel {
    margin-top: -103px;
    background-color: var(--primary-color);
}

.carousel .carousel-section .carousel-section__items {
    position: relative;
}

.carousel .carousel-section img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}

.carousel .carousel-section .carousel-section__items .carousel-section__items--content {
    top: 30%;
    color: #fff;
    max-width: 500px;
    position: absolute;
    line-height: 1.5;
}

.carousel .carousel-section .carousel-section__items .carousel-section__items--content h1 {
    padding: 12px 0px 18px;
}

.carousel .carousel-section .carousel-section__items .carousel-section__items--content .carousel-section__items--content--stitle,
.carousel-section__items--content--sparagraph {
    padding-right: 5px;
}

.carousel .carousel-section__items--sparagraph {
    padding-bottom: 30px;
}

.carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation {
    display: flex;
    column-gap: 20px;
}

.carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation .carousel-button-next,
.carousel-button-prev {
    position: relative;
    color: var(--secondary-color);
    opacity: 0.2;
    transition: all 0.2s ease-in-out;
}

.carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation .carousel-button-next:hover,
.carousel-button-prev:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation .carousel-button-next::after,
.carousel-button-prev::after {
    content: '';
}

@media(max-width: 767px) {
    .carousel {
        margin-top: -100px;
    }
    .carousel .carousel-section img {
        height: 650px;
    }
    .carousel .carousel-section .carousel-section__items .carousel-section__items--content {
        top: 27%;
    }
    .carousel .carousel-section .carousel-section__items .carousel-section__items--content h1 {
        font-size: 38px;
    }
    .carousel .carousel-section .carousel-section__items .carousel-section__items--content a button {
        margin-top: 18px;
    }
    .carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation {
        margin-top: 30px;
    }
    .carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation .carousel-button-next,
    .carousel-button-prev {
        top: 15px;
        left: 0;
        font-size: 28px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .carousel {
        margin-top: -112px;
    }
    .carousel .carousel-section img {
        height: 700px;
    }
    .carousel .carousel-section .carousel-section__items .carousel-section__items--content {
        top: 27%;
    }
    .carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation {
        margin-top: 30px;
    }
    .carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation .carousel-button-next,
    .carousel-button-prev {
        top: 20px;
        left: 0;
        font-size: 28px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .carousel .carousel-section img {
        height: 750px;
    }
    .carousel .carousel-section .carousel-section__items .carousel-section__items--content {
        top: 30%;
    }
    .carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation {
        margin-top: 30px;
    }
    .carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation .carousel-button-next,
    .carousel-button-prev {
        top: 20px;
        left: 0;
        font-size: 30px;
    }
}

@media(min-width: 1200px) {
    .carousel .carousel-section img {
        height: 750px;
    }
    .carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation {
        margin-top: 30px;
    }
    .carousel .carousel-section .carousel-section__items--content .carousel-section__items--navigation .carousel-button-next,
    .carousel-button-prev {
        top: 20px;
        left: 0;
        font-size: 30px;
    }
}


/* Categories */

.categories {
    padding: 60px 0px 0px;
}

.active-category {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.inactive-category {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.categories .categories__items .categories__items--title {
    padding: 0;
}

.categories .categories__items .categories__items--title .btn {
    font-size: 28px;
    font-weight: 600;
    font-family: var(--header-font);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.categories .categories__items--content {
    padding: 30px 12px;
}

.categories .categories__items .top-category__carousel--content img {
    border-radius: 8px;
}

.categories .categories__items .top-rating {
    border: solid;
    border-width: 0px 3px 0px 3px;
    border-radius: 0;
    padding: 0px 20px;
}

.categories .categories__items .categories__items--title-navigation {
    display: flex;
    justify-content: space-between;
}

.categories .categories__items .categories__items--navigation {
    display: flex;
    column-gap: 30px;
}

.categories .categories-button-prev,
.categories-button-next {
    color: #000;
    position: relative;
    font-size: 30px;
}

.categories .categories-button-prev::after,
.categories-button-next::after {
    content: '';
}

.categories .categories__items .show {
    transition: all 0.5s ease-in-out;
}

.categories .categories__items .collapse:not(.show) {
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    display: table-column;
}

.categories .category-title {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 8px;
}

.categories .categories__pagination {
    margin-top: 15px;
}

.categories .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
}

.categories .swiper-pagination-bullet-active {
    background-color: #000;
}

@media (max-width: 312px) {
    .categories {
        padding: 30px 0px 15px;
    }
    .categories .categories__items .categories__items--title .btn {
        font-size: 20px;
        padding: 0px;
    }
    .categories .categories__items .top-rating {
        border: none;
    }
    .categories .categories__items--content {
        padding: 20px 12px 0px;
    }
}

@media (min-width: 313px) and (max-width: 567px) {
    .categories {
        padding: 30px 0px;
    }
    .categories .categories__items .categories__items--title {
        max-width: 252px;
    }
    .categories .categories__items .categories__items--title .btn {
        font-size: 28px;
        border: 0;
        padding: 6px 12px 0 0;
    }
    .categories .categories__items--content {
        padding: 20px 12px;
    }
}


/* Options */

.options {
    padding: 30px 0px 60px;
}

.options img {
    width: 100%;
    height: 100%;
}

.options .options__content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.options .options__content--featured {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

.options .options__content .options__content--item {
    position: relative;
}

.options .options__content--featured img {
    max-height: 600px;
    object-fit: cover;
    object-position: center;
}

.options .options__content--item .options__content--item-top {
    top: 10px;
    left: 20px;
    position: absolute;
}

.options .options__content--item h2 {
    color: var(--secondary-color);
}

.options .options__content--item .options__content--item-bottom {
    bottom: 20px;
    left: 20px;
    position: absolute;
}

.options .options__content--device {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    position: relative;
}

.options .options__content--device img {
    max-height: 285px;
    object-fit: cover;
    object-position: center;
}

.options .options__content--flavors {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    position: relative;
}

.options .options__content--flavors img {
    max-height: 285px;
    object-fit: cover;
    object-position: center;
}

@media(max-width:991px) {
    .options {
        padding: 15px 0px 30px;
    }
    .options .options__content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .options .options__content--item h2 {
        font-size: 30px;
    }
}


/* Banner */

.banner {
    padding: 30px 0px;
    background-image: url('/assets/img/banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.banner .banner__content--items>.banner__content--items-h3,
.banner__content--items-p {
    color: var(--secondary-color);
}

.banner .banner__content--items .banner__content--items-p {
    padding-top: 12px;
}

.banner .banner__content--button-link {
    color: inherit;
}

.banner .banner__content--button {
    margin: auto;
    display: flex;
    justify-content: end;
}

@media(max-width: 767px) {
    .banner {
        text-align: center;
    }
    .banner .banner__content--button {
        padding-top: 16px;
        justify-content: center;
    }
}


/* Best */

.best {
    padding: var(--section-gap);
    color: var(--secondary-color);
    background-color: var(--background-color);
}


/* best option + recommendation */

.section__content {
    padding-top: 60px;
    row-gap: 24px;
}

.section__item {
    padding: 30px 0px;
    text-align: center;
    position: relative;
    color: var(--primary-color);
    background-color: #F3F3F3;
}

.section__item img {
    width: 220px;
    height: 220px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.section__item img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.section__item .section__item--title h2 {
    font-weight: 600;
}

.section__item .section__item--top-left {
    position: absolute;
    top: 10px;
    left: 20px;
}

.section__item .section__item--top-left a {
    color: inherit;
}

.section__item .section__item--top-right {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.section__item .section__item--top-right .bi {
    cursor: pointer;
}

.section__item .section__item--title {
    padding: 10px 0px 30px;
}

.section__item .section__item--buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.section__item .section__item--buttons .primary-button {
    padding: 12px 16px;
}

.section__button {
    padding-top: 60px;
}

@media(max-width: 567px) {
    .best {
        padding: 30px 0px;
    }
    .section__content {
        padding-top: 30px;
    }
    .section__item {
        padding: 30px 16px;
    }
    .section__item img {
        width: 150px;
        height: 150px;
    }
    .section__item .section__item--title {
        padding: 10px 0px 20px;
    }
    .section__item .section__item--title h2 {
        font-size: 30px;
    }
    .section__item .section__item--buttons {
        flex-direction: column;
    }
    .section__button {
        padding-top: 30px;
    }
}

@media(min-width:568px) and (max-width: 991px) {
    .best {
        padding: 30px 0px;
    }
    .section__content {
        padding-top: 30px;
    }
    .section__button {
        padding-top: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .best {
        padding: 40px 0px;
    }
    .section__content {
        padding-top: 40px;
    }
    .section__item .section__item--title {
        padding: 10px 0px;
    }
    .section__item .section__item--buttons {
        flex-direction: column;
    }
    .section__button {
        padding-top: 40px;
    }
}


/* Brands */

.brands {
    padding: 60px 0px 30px;
}

.brands .brandsList {
    padding-top: 40px;
}

.brands .brandsList .brands__content--logo {
    text-align: center;
}

.brands .brandsList .brands__content--logo img {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.brands .brandsList .brands__content--logo img:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.brands .brands__pagination {
    padding-top: 40px;
    position: relative;
}

.brands .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
}

.brands .swiper-pagination-bullet-active {
    background-color: #000;
}


/* Recommendation */

.recommendation {
    padding: 30px 0px 30px;
}